<%= form_with model: article do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title, :class=> "textarea form-control border-secondary", :style => "height:5vh;", :placeholder => 'Title...' %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <br>
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body, :class=> "textarea form-control border-secondary", :style => "height:25vh;", :placeholder => 'Body...' %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
        <%= form.label :status %><br>
        <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public', :class=> "form-select form-select-sm" %>
    </div>
  
    <br>
    <div>
      <%= form.submit class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
  